:root {
    --primary-color4: #B25000;
    --primary-color3: #CB5B00;
    --primary-color2: #E56700;
    --primary-color1: #E56700;
    --secondary-color1: #00A44E;
    --secondary-color2: #009446;
    --secondary-color3: #00833E;
    --secondary-color4: #007337;
    --dark-background: #100700;
    --faded-background: #2D2A28;
    --accent-color: #FF7200;
    --accent-color-transparent: #ff730038;
    --dark: #000;
    --nav-color: #3B2B1E;
    --black1: #28201A;
    --black2: #403933;
    --inactive-text: #E0DEDF;
    --inactive-text2: #8B8B8B;
    --accent-text-color: #EDECED;
    --description-color: #F2F1F1;
    --heading-text-color: #F6F6F6;
    --light: #fff;
}

@media (max-width: 990px) {
    #app-drawer {
        display: none;
    }
    #main {
        margin-left: unset;
        padding: 1rem;
    }
    .larger-screens {
        display: none;
    }
    .smaller-screens {
        display: unset;
    }
    #mobile-app-drawer .app-header {
        background-color: var(--dark);
        padding: 0.6rem 2rem;
    }
    .mobile-menu ion-icon {
        color: var(--accent-text-color);
        font-size: 30px;
    }
    .settings__header a {
        color: var(--inactive-text);
        margin-right: 1rem;
        padding: 0.3rem 1rem;
        border-radius: 30px;
        /* padding: 2rem; */
        font-size: 0.8rem;
    }
    .add-department-modal-body {
        width: 80%;
    }
    .add-role-body {
        display: unset;
    }
    .add-role-body div {
        margin-bottom: 1rem;
    }
    .app-drawer-menu li .router-link-exact-active::after {
        display: none;
    }
<<<<<<< HEAD
    .update-profile-wrap .user_onboarding_wrap {
        width: 100%;
        padding: 1.5rem;
    }
}
=======

    /* Messages */
    .center .form-input {
        padding-right: 20px;
    }
    .center .form-input label {
        padding: 5px .3rem;
        font-size: 12px;
    }
    .send_document_wrap {
        margin-top: -7px;
    }
    .send_document_wrap button {
        padding: 5px .3rem;
    font-size: 12px;
    }


    /* Setting Header */
    .role_wrap .roles_header h5 {
        font-size: 15px;
    }
    .role_wrap .create__role {
        font-size: 10px;
        padding: 5px 20px;
        margin-top: 10px;
    }
    .view_all_roles_section h5 {
        font-size: 11px;
    }
    .list_section li {
        font-size: 10px;
    }
    .add-role-dropdown .dropdown-toggle {
        padding: 0.3rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 0.7rem;
    }
    .add-role-dropdown .dropdown-menu {
        min-width: 35vw;
    }

    /* Meeting Room */
    /* .chat_hearder_wrap h6 {
        font-size: 13px;
    }
    .chat_hearder_wrap .span_wrap .text-white {
        font-size: 20px;
        cursor: pointer;
    }
    .chat_wrap img {
        width: 100%;
        height: 100%;
    } */
}

>>>>>>> eb97d219c43404e5239ed5de03c3fb9be2bdbc5d
